{% extends 'base_bootstrap.html' %}

{% block title %}Book Store{% endblock title %}

{% block content %}

<h2>Welcome to Book Store</h2>
<form class='form-inline mt-2 mt-md-0' action="{% url 'bookstore:search'%}" method='GET'>
    <input name='q' type="text" class='form-control mr-sm-2' palceholder='Search' arial-label='Search'>

</form>
<hr>
{% if booklist %}
    {% for book in booklist %}
    <h3><a href="{{book.get_absolute_url}}">{{book.title}}</a></h3> 
    
    {% endfor %}
    {% else %}
<p>There are no books in bookstore!</p>
{% endif %}


{% endblock content %}

