{% extends "base_bootstrap.html" %}

{% block title %}
Home
{% endblock title %}


{% block content %}
<h1>Welcome to Home</h1>
{% if user.is_authenticated %}
    Hi {{user.username}} !
    <p><a href=" {% url 'logout' %} ">Log Out</a> </p>
{% endif %}
    <p>you are not logged in</p>
    <div >
    <a class="mr-3" href="{% url 'login' %}">Log In</a>|
    <a class="ml-3" href="{% url 'users:users_signup' %}">Sign Up</a>
    </div>

    <div class="jumbotron-fluid">
        <a class="link-danger" href="https://github.com/msajidiqbal">Github Profile</a>
    </div>
    

{% endblock content %}